.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  padding: 2em;
}

.about a {
  text-decoration: underline;
}

h2,
p {
  margin-bottom: 1em;
}
